configs:
  params: 
    server.insecure: true
  cm:
    # Reference: https://docs.crossplane.io/v1.10/guides/argo-cd-crossplane/#configuring-argo-cd-with-crossplane
    application.resourceTrackingMethod: annotations

    timeout.reconciliation: 30s
    url: https://argocd.k8s-demo.win

  
  rbac: 
    policy.default: role:readonly
    # policy.csv: |
    #   g, <YOUR_GOOGLE_DEVOPS_GROUP>@<YOUR_DOMAIN>.com, role:admin

repoServer: 
  autoscaling: 
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 50
    targetMemoryUtilizationPercentage: 50

server:
  autoscaling: 
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 50
    targetMemoryUtilizationPercentage: 50

  service:
    type: ClusterIP

  ingress:
    enabled: true
    annotations: 
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts: 
      - argocd.k8s-demo.win
    paths:
      - "/"
    pathType: Prefix
    tls: 
      - secretName: argocd-server-tls
        hosts:
          - argocd.k8s-demo.win

